.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #263766;
    color: #fff;
    text-align: center;
    padding: 8px 0;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
}

main .cards {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

p {
    font-size: 12px;
}

.botoes {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    gap: 8px;
}

.botoes button {
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
    background-color: #263766;
    color: #fff;
}
.botoes button:hover {
    background-color: #ff6200;
}