<div class="container">
  <header>
    <h1>{{ titulo }}</h1>
  </header>
  
  <main>
    <section>
      <div class="botoes">
        <button class="btn btn-primario" (click)="trocarExibicao()">
          Exibir {{ exibicao == 'cards' ? 'Lista' : 'Cards' }}
        </button>
      </div>
      <div class="botoes">
        <span>Filtros</span>
        <button class="btn btn-primario" (click)="filtrarTodos()">Todos</button>
        <button class="btn btn-primario" (click)="filtrarAprovados()">Aprovados</button>
        <button class="btn btn-primario" (click)="filtrarReprovados()">Reprovados</button>
      </div>
    </section>

    <section class="cards" *ngIf="exibicao == 'cards'">
      <app-student
        (excluir)="onExcluir($event)"
        [aluno]="alunoAtual"
        [escola]="escola"
        *ngFor="let alunoAtual of listaAlunosFiltro">
      </app-student>
    </section>

    <section class="lista" *ngIf="exibicao == 'lista'">
      <app-student-list
        (excluir)="onExcluir($event)"
        [titulo]="'Lista de alunos'"
        [lista]="listaAlunosFiltro">
      </app-student-list>
    </section>
  </main>

  <footer>
    <p>- Desenvolvido por Proway -</p>
  </footer>
</div>