.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #263766;
    color: #fff;
    text-align: center;
    padding: 8px 0;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
}

main .cards {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

p {
    font-size: 12px;
}
