table {
    border-collapse: collapse;
    width: 800px;
    margin: auto;
}

th, td {
    padding: 8px;
}

thead tr {
    background-color: #ff6200;
    color: #fff;
}

tbody tr:nth-child(even){
    background-color: #d8d7d7;
}

tbody tr:hover {
    background-color: #263766;
    color: #fff;
    cursor: pointer;
}