<div>
    <h2>{{ titulo }}</h2>
    <table>
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Curso</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aluno of lista">
                <td>{{ aluno.matricula }}</td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.email }}</td>
                <td>{{ aluno.curso }}</td>
                <td>{{ aluno.situacao ? 'Aprovado' : 'Reprovado' }}</td>
                <td class="flex flex-h-center gap-8">
                    <button
                        class="btn btn-sucesso">
                        Editar
                    </button>
                    <button
                        class="btn btn-alerta"
                        (click)="excluirAluno(aluno.matricula)">
                        Excluir
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
