<div>
    <h2>{{ titulo }}</h2>
    <table>
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Curso</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aluno of lista">
                <td>{{ aluno.matricula }}</td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.email }}</td>
                <td>{{ aluno.curso }}</td>
                <td>{{ aluno.situacao ? 'Aprovado' : 'Reprovado' }}</td>
            </tr>
        </tbody>
    </table>
</div>
