.card {
    width: 220px;
    padding: 16px;
    border: solid 1px #c9c9c9;
    border-radius: 4px;
    color: #565656;
    margin-bottom: 16px;
}

.card:hover {
    box-shadow: 2px 2px 5px #9c9c9c;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 50%;
}

.card h2 {
    text-align: center;
    font-size: 20px;
}

.card p {
    font-size: 14px;
}

.aprovacao {
    padding: 8px 0;
    margin: 8px 0;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    background-color: silver;
}

.aprovacao.aprovado {
    background-color: #1a6b1a;
}

.aprovacao.reprovado {
    background-color: #951c1c;
}