/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

/* Espaçamentos */
.mt-16 {
    margin-top: 16px;
}
.mr-16 {
    margin-right: 16px;
}
.gap-8 {
    gap: 8px;
}


/* Flex */
.flex {
    display: flex;
}
.flex-h-center {
    justify-content: center;
}


/* Grid */
.grid {
    display: grid;
}
.col-1 {
    grid-template-columns: 1fr;
}
.col-2 {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}


/* Alinhamentos */
.txt-center {
    text-align: center;
}


/* Botões */
.btn {
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
    color: #fff !important;
}
.btn-primario {
    background-color: #263766;
}
.btn-primario:hover {
    background-color: #ff6200;
}
.btn-secundario {
    background-color: #6f7484;
}
.btn-secundario:hover {
    background-color: #aeb6d0;
}
.btn-sucesso {
    background-color: #1a6b1a;
}
.btn-sucesso:hover {
    background-color: #248b24;
}
.btn-alerta {
    background-color: #951c1c;
}
.btn-alerta:hover {
    background-color: #d02c2c;
}