/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

/* Espaçamentos */
.mt-16 {
    margin-top: 16px;
}


/* Alinhamentos */
.txt-center {
    text-align: center;
}
